@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #0d1117;
}



.gradient-text {
    background-image: linear-gradient(90deg, #06b6d4, #f43f8a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

